header {
    margin-top: 0;
	text-align:center;
	font: bold italic 110% serif;
}
footer {
	font: bold italic 110% serif;
	background-color: rgba(168, 0, 255, 0.9);
}
#background {
	background-color: rgba(242, 0, 255, 1);
	color: black;
	font: bold italic 110% serif;
}
#Description {	
	font: bold italic 110% serif;
}
#center1 {
	margin-top: 0;
	text-align:center;
	font: bold italic 110% serif;
}
#center2 {
	margin-top: 0;
	text-align:center;
	font: bold italic 110% serif;
}
#otziv1 {
	background-color: rgba(131, 35, 181, 0.9);
	font: bold italic 110% serif;
}
#otziv2 {
	background-color: rgba(131, 35, 181, 0.9);
	font: bold italic 110% serif;
}
#tovar{
    background: rgba(222, 0, 0, 1);
}
li {
    display: inline-block;
}
#aksiy {
	color: rgba(250, 250, 7, 1);
}
label[for="secondname"] {
    display: none;
}
